<%- include partial/head %>

<body>
  <!-- Header -->
  <header>
    <!-- Menu -->
    <%- include partial/menu %>
  </header>

  <div class="container" >
    <div class="row" id="contacts">

      <div class="col-md-12 col-xs-12" id="sub-title">
        <h1 class="text-center"><%= title %></h1>
      </div>


      <div class="col-md-12 col-xs-12" id="show">
        <form method="post">
          <table class="table">
            <tr>
              <td align="right">Vehicle : </td>
              <td>
                <select class="" name="VehicleId" style="text-transform: uppercase">
                  <option value="" selected disabled>--Select--</option>
                  <% vehicles.forEach(vehicle=>{ %>
                    <option value="<%= vehicle.id %>" ><%= vehicle.plat_no %></option>
                  <% }) %>
                </select>
              </td>
            </tr>
            <tr>
              <td align="right">Driver : </td>
              <td>
                <select class="" name="UserId">
                  <option value=""selected disabled>--Select-</option>
                  <% drivers.forEach(driver=>{ %>
                    <option value="<%= driver.id %>"><%= driver.first_name %></option>
                  <% }) %>
              </td>
            </tr>
            <tr>
              <td align="right">Customer : </td>
              <td>
                <select class="" name="CustomerId">
                  <option value=""selected disabled>--Select-</option>
                  <% customers.forEach(customer=>{ %>
                    <option value="<%= customer.id %>"><%= customer.name %></option>
                  <% }) %>
                </select>
              </td>
            </tr>
            <tr>
              <td>Taks</td>
              <td>
                <textarea name="task" rows="8" cols="80"></textarea>
              </td>
            </tr>
            <tr>
              <td class="text-center" colspan="2">
                <input type="submit" class="btn btn-primary" value="Submit">
                <a class="btn btn-danger" href="/sjk">Back</a>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
  <!-- End Header -->

  <section id="service">

  </section>

  <footer>
    Copyright &copy 2017 - Faris n' Riski
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>
