<%- include partial/head %>

  <body>
    <!-- Header -->
    <header>
      <!-- Menu -->
      <%- include partial/menu %>
    </header>

    <div class="container">
      <div class="row" id="contacts">

        <div class="col-md-12 col-xs-12" id="sub-title">
          <h1 class="text-center"><%= title %></h1>
        </div>


        <div class="col-md-12 col-xs-12" id="show">
          <form method="post">
            <table class="table">
              <tr>
                <td align="right">Vehicle : </td>
                <td>
                  <input type="hidden" name="id" value="<%=one.id%>">
                  <select class="" name="VehicleId" style="text-transform: uppercase">
                  <option value="" selected disabled>--Select--</option>
                  <% vehicles.forEach(vehicle=>{ %>
                    <% if(vehicle.id == one.Vehicle.id){ %>
                      <option value="<%= vehicle.id %>" selected='selected'><%= vehicle.plat_no %></option>
                    <%}else{%>
                      <option value="<%= vehicle.id %>"><%= vehicle.plat_no %></option>
                    <%}%>
                  <% }) %>
                </select>
                </td>
              </tr>
              <tr>
                <td align="right">Driver : </td>
                <td>
                  <select class="" name="UserId" style="text-transform: capitalize">
                  <option value=""selected disabled>--Select-</option>
                  <% drivers.forEach(driver=>{ %>
                    <% if(driver.id == one.User.id){ %>
                      <option value="<%= driver.id %>" selected='selected'><%= driver.username %></option>
                    <%}else{%>
                      <option value="<%= driver.id %>"><%= driver.first_name %> <%= driver.last_name %></option>
                    <%}%>
                  <% }) %>
              </td>
            </tr>
            <tr>
              <td align="right">Customer : </td>
              <td>
                <select class="" name="CustomerId" style="text-transform: capitalize">
                  <option value=""selected disabled>--Select-</option>
                  <% customers.forEach(customer=>{ %>
                    <% if(customer.id == one.Customer.id){ %>
                      <option value="<%= customer.id %>" selected='selected'><%= customer.name %></option>
                    <%}else{%>
                      <option value="<%= customer.id %>"><%= customer.name %></option>
                    <%}%>
                  <% }) %>
                </select>
                </td>
              </tr>
              <tr>
                <td align="right">Taks</td>
                <td>
                  <textarea name="task" rows="8" cols="80" style="padding:10px;"><%= one.task %></textarea>
                </td>
              </tr>
              <tr>
                <td class="text-center" colspan="2">
                  <input type="submit" class="btn btn-primary" value="Submit">
                  <a class="btn btn-danger" href="/sjk">Back</a>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
    <!-- End Header -->

    <section id="service">

    </section>

    <footer>
      Copyright &copy 2017 - Faris n' Riski
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>

  </html>
