<%- include partial/head %>

<body>
  <!-- Header -->
  <header>
    <!-- Menu -->
    <%- include partial/menu %>
  </header>

  <div class="container" >
    <div class="row" id="contacts">

      <div class="col-md-12 col-xs-12" id="sub-title">
        <h1 class="text-center"><%= title %></h1>
      </div>


      <div class="col-md-12 col-xs-12" id="show">
        <form method="post">
          <input type="hidden" name="id" value="<%=rows.id%>">
          <input type="text" name="plat_no" placeholder="Masukkan Plat No" style="text-transform: uppercase" value="<%= rows.plat_no %>">
          <input type="text" name="type" placeholder="Masukkan Tipe Kendaraan" style="text-transform: uppercase" value="<%= rows.type %>">
          <input type="text" name="km" placeholder="Masukkan KM" style="text-transform: uppercase" value="<%= rows.km %>">
          <input type="submit" class="btn btn-primary" value="Submit">
        </form>
      </div>
    </div>
  </div>
  <!-- End Header -->

  <section id="service">

  </section>

  <footer>
    Copyright &copy 2017 - Faris n' Riski
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>
